.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container1 {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  font-size: 52px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-button {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: auto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  border-color: #ffffff;
  background-color: var(--dl-color-primary-300);
  text-align: center;
  transition-duration:0.1s;
}
.home-button:hover{
  color: black;
  background-color:#14a9ff;
}
.home-button:active{
  color: black;
  background-color:#0e5985;
}
