.tworzenie-gry-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 90vh;
  align-items: center;
  flex-direction: column;
}
.tworzenie-gry-navbar {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  justify-content: flex-end;
  background-color: var(--dl-color-primary-300);
}
.tworzenie-gry-container1 {
  width: 100%;
  min-height: 90vh;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.tworzenie-gry-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tworzenie-gry-text03 {
  font-size: 32px;
  align-self: flex-start;
}


.tworzenie-gry-button {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  border-color: #ffffff00;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  font-weight: 400;
  background-color: var(--dl-color-primary-300);
  text-align: center;
  transition-duration:0.1s;
}
.tworzenie-gry-button:hover{
  color: black;
  background-color:#14a9ff;
}
.tworzenie-gry-button:active{
  color: black;
  background-color:#0e5985;
}
.tworzenie-gry-button-big {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: auto;
  margin: 0px;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  border-color: #ffffff00;
  background-color: var(--dl-color-primary-300);
  text-align: center;
  transition-duration:0.1s;
}
.tworzenie-gry-button-big:hover{
  color: black;
  background-color:#14a9ff;
}
.tworzenie-gry-button-big:active{
  color: black;
  background-color:#0e5985;
}
.tworzenie-gry-text24 {
  text-align: center;
}
.tworzenie-gry-button3 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 400;
  border-color: #ffffff;
  border-width: 0px;
  background-color: var(--dl-color-primary-300);
}
.tworzenie-gry-text41 {
  text-align: center;
}
.tworzenie-gry-button4 {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: auto;
  margin: 0px;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  border-color: #ffffff;
  background-color: var(--dl-color-primary-300);
}
.tworzenie-gry-text44 {
  text-align: center;
}
.tworzenie-gry-button5 {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: auto;
  margin: 0px;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  border-color: #ffffff;
  background-color: var(--dl-color-primary-300);
}
.tworzenie-gry-text47 {
  text-align: center;
}
@media(max-width: 1200px) {
  .tworzenie-gry-container2 {
    align-self: flex-start;
  }
  .tworzenie-gry-container4 {
    flex-direction: row;
  }
  .tworzenie-gry-container6 {
    flex-direction: row;
  }
}
@media(max-width: 991px) {
  .tworzenie-gry-text03 {
    font-size: 32px;
  }
  .tworzenie-gry-text06 {
    font-size: 32px;
  }
  .tworzenie-gry-text27 {
    font-size: 32px;
  }
}
@media(max-width: 479px) {
  .tworzenie-gry-text03 {
    height: var(--dl-size-size-medium);
    font-size: 32px;
  }
  .tworzenie-gry-text06 {
    height: var(--dl-size-size-medium);
    font-size: 32px;
  }
  .tworzenie-gry-text27 {
    height: var(--dl-size-size-medium);
    font-size: 32px;
  }
}
