.achievement-item {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    align-items: flex-start;
    margin-bottom: 2px;
    border-width: 0px;
    border-radius: 16px;
    flex-direction: column;
    background-color: #aaaaaa;
    transition-duration:0.1s;
  }
  .achievement-item:hover{
    background-color: #bcbcbc;
  }
  .achievement-item:active{
    background-color: #808080;
  }
  .achievement-text-container{
    display: flex;
    flex-direction: column;
  }