.tworzenie-gry-button {
    color: var(--dl-color-gray-white);
    width: auto;
    font-size: 32px;
    align-self: center;
    font-style: normal;
    border-color: #ffffff00;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    font-weight: 400;
    background-color: var(--dl-color-primary-300);
    text-align: center;
    transition-duration:0.1s;
  }
  .tworzenie-gry-button:hover{
    color: black;
    background-color:#14a9ff;
  }
  .tworzenie-gry-button:active{
    color: black;
    background-color:#0e5985;
  }
  .tworzenie-gry-button-big {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    margin: 0px;
    font-size: 32px;
    align-self: center;
    font-style: normal;
    font-weight: 400;
    border-color: #ffffff00;
    background-color: var(--dl-color-primary-300);
    text-align: center;
    transition-duration:0.1s;
  }
  .tworzenie-gry-button-big:hover{
    color: black;
    background-color:#14a9ff;
  }
  .tworzenie-gry-button-big:active{
    color: black;
    background-color:#0e5985;
  }
  .tworzenie-gry-container5 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .tworzenie-gry-text27 {
    font-size: 32px;
    align-self: flex-start;
  }
  .tworzenie-gry-teamlist1 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    align-self: center;
    overflow-y: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    scroll-behavior: auto;
  }
  .tworzenie-gry-teamitem1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    align-items: flex-start;
    border-width: 0px;
    border-radius: 16px;
    flex-direction: row;
    background-color: #aaaaaa;
  }
  .tworzenie-gry-text30 {
    font-size: 24px;
    align-self: flex-start;
  }
  .tworzenie-gry-text33 {
    width: 100%;
    height: 100%;
    font-size: 16px;
    align-self: flex-start;
  }
  .tworzenie-gry-text37 {
    width: 100%;
    height: 100%;
    font-size: 16px;
    align-self: flex-end;
    text-align: left;
  }
  .tworzenie-gry-text38 {
    font-style: normal;
    font-weight: 700;
  }
  .tworzenie-gry-teamitemunfinished1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    align-items: flex-start;
    border-width: 0px;
    border-radius: 16px;
    flex-direction: column;
    background-color: #aaaaaa;
  }
  .tworzenie-gry-textinput2 {
    font-size: 24px;
  }
  .tworzenie-gry-container6 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .tworzenie-gry-textinput3 {
    font-size: 24px;
  }
  .tworzenie-gry-textinput4 {
    font-size: 24px;
  }
  .delete-button{
    color: red;
    font-size: 24px;

  }
  .delete-button:hover{
    color: rgb(255, 58, 58);
  }
  .delete-button:active{
    color: rgb(170, 0, 0);
  }